//My Sass files
@import "styles/colorPalette.scss";
@import "styles/sizes.scss";

//Google font
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@400;700&display=swap');

body{
  margin: 0 auto;
  font-family: 'Comme', sans-serif;
  background-color: $primary;
  color: $text;
}

header{
  background-color: $secondary;

  .Logo{
    height: 6vmin;
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 10rem;
  }

  a{
    color: $text;
    text-decoration: none;
    font-size: 1.2rem;
  }

  nav{
    max-width: $maxWidth;
    margin-bottom: 1rem;
    margin: 0 auto;
    padding-bottom: 1rem;

    ul{
      display: flex;
      justify-content: space-around;

      li{
        list-style: none;
        text-align: center;
        margin-top: 1rem;
        
        a{
          text-align: center;
        }
      }
    }
  }
}

a:link{
  text-decoration: none;
}

article{
  max-width: $maxWidth;
  margin: 0 auto;
  color: $text;
  
  .game-card{
    background-color: $secondary;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem $black;

    :hover{
      cursor: pointer;
    }

    button{
      background-color: $text;
      color: $black;
      border-radius: 2rem;
      margin-top: 1rem;
      padding: 0.4rem;
      border-style: none;
      font-weight: bold;
    }
  }

  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $maxWidth;
  margin: 0 auto;
}

.featured-games {
  background-color: $back;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;

  h1{
    color: aliceblue;
    display: inline-block;
  }
}

.my-games-dashboard {
  background-color: $back;
  margin-top: 3rem;
  padding: 0 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 750px;
  padding-bottom: 2rem;

  h2{
    color: aliceblue;
    display: inline-block;
  }

  .game-card-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
}

.my-favorites-dashboard {
  background-color: $back;
  margin-top: 3rem;
  padding: 0 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 750px;
  padding-bottom: 2rem;

  h2{
    color: aliceblue;
    display: inline-block;
  }

  .game-card-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
}

.game-card-container {
  display: flex;
  gap: 1rem;
}

.game-page{
  max-width: $maxWidth;
  margin: 0 auto;

  h1{
    font-size: 2.8rem;
  }

  img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 2rem;
  }

  p{
    line-height: 1.6rem;
  }

  ul{
    line-height: 1.6;
  }
  .box {
    margin: 0 auto;
    max-width: 900px;
    background-color: $back;
    color: $text;
    border: 0.3rem solid black; 
    border-radius: 1rem;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem; 
  }
}

.game-view {
  max-width: $maxWidth;
  margin: 0 auto;

  .game-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

     a {
      flex-basis: 300px;
      margin: 1.4rem;
    }
  }
}

footer{
  background-color: $secondary;
  color: $text;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-top: 3rem;

  div{
    max-width: $maxWidth;
    margin: 0 auto;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  a{
    color: $link_color;
  }
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-toggle .hamburger {
  display: block;
  width: 2rem;
  height: 3px;
  background-color: $text;
  position: relative;
}

.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $text;
}

.menu-toggle .hamburger::before {
  transform: translateY(-8px);
}

.menu-toggle .hamburger::after {
  transform: translateY(8px);
}

@media only screen and (max-width: 750px) {
  .menu-toggle {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    align-items: center;
  }
  
  header{
    h1{
      padding-left: 1.5rem;
    }
  }

  nav.show {
    ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  
  nav.show {
    li{
      margin: 1rem 0;
    }
  }
  
  nav.show {
    li{
      a{
        font-size: 1.5rem;
      }
    }
  }

  .game-card-container{
    display: flex;
    flex-direction: column;
  }
  
  .my-games-dashboard {
    .game-card-container{
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  .my-favorites-dashboard {
    .game-card-container{
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  .game-page{
    padding: 1rem;

    .box{
      display: flex;
      flex-direction: column;
    }
  }

  footer{
    div{
      font-size: 1rem;
      padding-left: 1rem;
    }
  }
}