//My Sass files
@import "styles/colorPalette.scss";
@import "styles/sizes.scss";

//Google font
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@400;700&display=swap');

body{
  margin: 0 auto;
  font-family: 'Comme', sans-serif;
}

header{
  background-color: $secondary;

  h1{
    margin: 0 auto;
    max-width: $maxWidth;
    padding-top: 2rem;
  }

  a{
    color: $primary;
    text-decoration: none;
  }

  nav{
    list-style: none;
    max-width: $maxWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

footer{
  background-color: $secondary;
  color: $primary;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;

  div{
    max-width: $maxWidth;
    margin: 0 auto;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  a{
    color: rgb(255, 255, 26);
  }
}