//My Sass files
@import "styles/colorPalette.scss";
@import "styles/sizes.scss";

//Google font
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@400;700&display=swap');

body{
  margin: 0 auto;
  font-family: 'Comme', sans-serif;
  background-color: $primary;
}

header{
  background-color: $secondary;
  .Logo{
    height: 8vmin;
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: 10rem;
  }

  a{
    color: $text;
    text-decoration: none;
  }

  nav{
    max-width: $maxWidth;
    padding-bottom: 1rem;
    margin: 0 auto;
    ul{
      display: flex;
      justify-content: space-around;
      li{
        list-style: none;
        text-align: center;
        padding-top: 1rem;
        a{
          text-align: center;
        }
      }
    }
  }
}

article{
  max-width: $maxWidth;
  margin: 0 auto;
  color: $text;
  
  .game-card{
    background-color: $secondary;
    margin-top: 1.5rem;
    padding: 1.2rem;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem $black;

    :hover{
      cursor: pointer;
    }
  }

  img{
    max-width: 350px;
  }
}

.game-card-container {
  display: flex;
  gap: 1rem;
}


footer{
  background-color: $secondary;
  color: $text;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-top: 3rem;

  div{
    max-width: $maxWidth;
    margin: 0 auto;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  a{
    color: $link_color;
  }
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-toggle .hamburger {
  display: block;
  width: 2rem;
  height: 3px;
  background-color: $text;
  position: relative;
}

.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $text;
}

.menu-toggle .hamburger::before {
  transform: translateY(-8px);
}

.menu-toggle .hamburger::after {
  transform: translateY(8px);
}

@media only screen and (max-width: 1200px) {
  .menu-toggle {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    align-items: center;
  }
  
  header{
    h1{
      padding-left: 1.5rem;
    }
  }

  nav.show {
    ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  
  nav.show {
    li{
      margin: 1rem 0;
    }
  }
  
  nav.show {
    li{
      a{
        font-size: 1.5rem;
      }
    }
  }
}